{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.user_name }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
        <form action="/login" method="POST">
            <p>Tunnus:<br>
                <input type="text" name="username">
            </p>
            <p>Salasana:<br>
                <input type="password" name="password">
            </p>
            <input type="submit" value="Kirjaudu">
        </form>
        <a href="/register" class="button">Luo uusi tunnus</a>
    </div>
</div>
{% endif %}
<br>
{% if session.user_id %}
<form action="/add_citation" method="POST">
    <p style="font-size:20px">Uusi viite</p>

    <label>Kirja: </label>
    <input type="text" name="title">

    <label>Kirjoittaja: </label>
    <input type="text" name="author">

    <label>Vuosi: </label>
    <input type="number" name="year">
    <input type="submit" value="Lisää viite">
</form>
<br>
<p style="font-size:26px">Viitteesi</p>
<div>
    {% for citation in citations %}
    <form action="/delete_citation" method="POST">
        {{citation[0]}}
        <input type="hidden" name="id" value="{{ citation[1] }}">
        <input type="submit" value="Poista">
        
    </form>
    <hr>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
