{% extends "layout.html" %}
{% block content %}
<div class="modify_citation">
<form action="/modify_citation/{{ citation[0] }}" method="post">
    
    Kirjoittaja: <input type="text" name="author" value="{{citation[1]}}">
    Otsikko: <input type="text" name="title" value="{{citation[2]}}">
    Julkaisija: <input type="text" name="publisher" value="{{citation[3]}}">
    Vuosi: <input type="text" name="year" value="{{citation[4]}}">
    Doi: <input type="text" name="doi" value="{{citation[5]}}">
    Isbn: <input type="text" name="isbn" value="{{citation[6]}}">
    Editor: <input type="text" name="editor" value="{{citation[7]}}">
    Sivut: <input type="text" name="pages" value="{{citation[8]}}">
    Shorthand: <input type="text" name="shorthand" value="{{citation[9]}}">
    <input type="submit" value="Muokkaa">
    
</form>
<p>
    <a href="/">Palaa etusivulle</a>
</p>
</div>
{% endblock %}