body {
    margin: auto;
    padding: 5%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.header-text {
    font-weight: bold;
    color: black;
    font-size: 1.6em;
    text-align: center;
}

hr { 
    background-color: black;
    height: 2px;
    border: 0;
}

.register {
    color: black;
    font-size: 1.4em;
    text-align: center;
}
